* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f1f1f1;
  --div-bg-color: #4e4e4e;
  --font-size: 18px;
  --font-color: #000000;
  --color-white: white;
  --bold-font: 700;
  --margin-p: 14px;
}
/* Mobile  */
body {
  font-family: Arial, sans-serif;
}
.main_menu_wrapper {
  width: 100%;
}
.main-menu {
  height: 50px;
  background-color: #333;
  color: var(--color-white);
  font-size: var(--font-size);
  font-weight: var(--bold-font);
}
.menu_right_section {
  display: none;
}

.main-menu ul {
  list-style: none;
  display: flex;
}
.main-menu li {
  padding: 14px 30px;
  color: #fff;
}
.main-menu li a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.banner_container {
  width: 100%;
}

.br_mobile {
  display: block;
}

.br_desktop {
  display: none;
}
.main_banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
}

.main_banner_image {
  display: flex;
  align-items: center;
  background: url(img-small/header-bg.svg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
}
.main_banner_gradient {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #00000057;
}

.banner_container {
  min-height: inherit;
  margin: 0 auto;
  padding: 0 30px;
  opacity: 1;
}

.header-text {
  color: var(--color-white);
  font-weight: var(--bold-font);
  line-height: 42px;
}
.header-title {
  font-size: 36px;
  margin-bottom: 30px;
}
.header-subtitle {
  font-size: var(--font-size);
  margin-bottom: 30px;
}

.btn-text {
  transition: 1s;
  padding: 14px 60px;
  background: none;
  font-family: var(--bold-font);
  color: var(--color-white);
  border: 3px solid #ffffff;
  font-size: var(--font-size);
  font-weight: var(--bold-font);
}
.employee-title {
  text-align: center;
  font-weight: var(--bold-font);
}

.employee-data {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  align-items: center;
}

.employee_container {
  width: 100%;
  margin: 0 auto;
  padding: 14px;
}

.employee-img {
  width: 250px;
  height: 250px;
  margin: 0 20px;
  border-radius: 50%;
}
.employee-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.bold-text {
  font-weight: var(--bold-font);
  line-height: 80px;
  align-self: flex-start;
}
.emp1 {
  background-image: url(img-small/pracownik-1.png);
}

.emp2 {
  background-image: url(img-small/pracownik-2.jpg);
}

.services_container {
  background-color: #405d78;
  align-items: center;
}

.services-wrapper {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.services-body {
  display: block;
  align-items: center;
}
.service-title {
  padding: 30px 0;
  font-size: 26px;
  font-weight: var(--bold-font);
  color: var(--color-white);
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 25px;
  width: 250px;
  height: 250px;
  background-color: var(--bg-color);
  font-size: 24px;
  font-weight: 400;
}

.service-item-promo {
  position: relative;
}
.bold-text {
  align-self: center;
}

.new-text {
  font-size: var(--font-size);
  font-weight: 400;
}

.service-item-circle {
  position: absolute;
  left: -11px;
  top: -11px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #e07a64;
}
footer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--div-bg-color);
}

.footer_container {
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
.footer__icon {
  font-size: 31px;
}
.footer__copyright {
  color: var(--color-white);
  font-size: var(--font-size);
  font-weight: var(--bold-font);
}

/* Tablet */

@media screen and (min-width: 769px) {
}
/* Desktop */

@media screen and (min-width: 1024px) {
  .main_menu_wrapper {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-menu {
    display: flex;
  }
  
  .contact_link {
    cursor: not-allowed;
  }
  
  .first_screen {
    min-height: 100vh;
  }
  .banner_container{
    width: 960px;
    flex-direction: column;
    align-items: self-start;
    text-align: left;
  }
  .btn-text {
    transition: 1s;}

  }

